@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section {
	padding: 1rem 5rem;
}
section a {
	position: absolute;
	top: 20px;
	right: 50px;
	background: slateblue;
	color: white;
	border-radius: 100px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;
	transition: all 0.3s ease;
}
section a:hover {
	background: rgba(105, 90, 205, 0.808);
}

main {
	background: rgb(228, 228, 228);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 1rem;
	padding-bottom: 5rem;
}

.dropdown {
	background: rgb(175, 158, 158);
	color: rgb(0, 0, 0);
	margin: 0.5rem;
	border: 1px solid black;
	width: 100%;
	max-width: 100%;
	padding: 5px 1rem;
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
}
.dropdown .text {
	cursor: pointer;
	width: 100%;
}
.dropdown .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.dropdown .container * {
	display: none;
	justify-content: start;
	align-items: start;
	flex-direction: row;
	flex-wrap: wrap;
}
.dropdown.open .container * {
	display: flex;
}

/* Direct properties */
.container-props {
	margin: 1rem;
	width: 100%;
	background: rgba(228, 228, 228, 0.233);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}
.container-props .item {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}
.container-props .item input,
.container-props .item p {
	z-index: 1;
}

/* Item list */
.dropdown .container .item {
	position: relative;
	background: white;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 150px;
	height: auto;
	text-align: center;
	margin: 1rem;
	padding: 32px 10px 15px 10px;
}

.dropdown .container .item button {
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 12px;
	background: rgb(255, 65, 65);
	color: white;
	border: none;
}

.controls {
	max-width: 150px;
}

button.add-new {
	position: relative;
	padding: 2rem 3rem;
	background: rgba(105, 103, 236, 0.568);
	border: none;
	border-radius: 20px;
	font-size: 2rem;
	color: white;
	font-weight: bolder;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
button.add-new:hover {
	background: rgba(116, 113, 246, 0.719);
}

img {
	width: 4rem;
	height: 4rem;
}
img.full {
	position: absolute;
	top: -25%;
	width: 10rem;
	height: 10rem;
	opacity: 0.1;
	z-index: 0;
}
input {
	padding: 5px 10px;
	width: 70px;
}

input#import {
	width: auto;
	cursor: pointer;
}

button.renderJSON {
	padding: 5px 10px;
	background: rgb(93, 223, 93);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.hover-preview {
	position: fixed;
	display: none;
	z-index: 999;
}
.hover-preview.showing {
	display: block;
}
.hover-preview img {
	width: 10rem;
	height: 10rem;
}

#loader {
	position: fixed;
	opacity: 0;
	top: 25rem;
	left: 50%;
	transition: all 0.5s ease;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background: rgb(209, 52, 52);
	z-index: -1;
	animation: pulseA 2s infinite ease both;
}

#loader::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.52);
	border-radius: 50%;
	animation: pulseB 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%, -50%) scale(2.2);
}

#loader.visible {
	opacity: 1;
	z-index: 1000;
}

#add {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: column;
	background: white;
	padding: 2rem 1rem 0rem 1rem;
}
#add.showing {
	display: flex;
	z-index: 99;
}
#add .container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: scroll;
	justify-content: center;
	margin-bottom: 2rem;
}
#add .container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: auto;
	padding: 15px 10px;
	margin: 0.5rem;
	background: rgba(0, 0, 0, 0.397);
	border-radius: 5px;
}
#add input {
	width: 20rem;
}

#close {
	padding: 10px 16px;
	border-radius: 100px;
	cursor: pointer;
	background: rgb(235, 110, 110);
	border: none;
	margin-top: 5px;
	color: rgb(0, 0, 0);
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#close span {
	color: white;
	text-transform: none;
	margin: 10px;
}

footer {
	padding: 1rem 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 10rem;
}

footer a {
	color: slateblue;
	text-decoration: none;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	margin: 0 5px;
}
footer a.title {
	text-transform: uppercase;
	margin: 1rem;
	font-size: 2rem;
}
footer a.btn {
	margin-top: 20px;
	background: slateblue;
	padding: 10px 20px;
	transition: all 0.5s ease-in-out;
	color: white;
	border-radius: 100px;
}
a.btn:hover {
	scale: 1.05;
}
footer a:hover {
	border-bottom: 2px solid slateblue;
}

code {
	font-family: 'Courier New', Courier, monospace;
	background: whitesmoke;
	color: darkgreen;
}

ol {
	margin: 2rem 0 0 2rem;
}

@keyframes pulseA {
	0% {
		transform: translate(-50%, -50%) scale(1.09);
		background: #a4161b9f;
	}
	50% {
		transform: translate(-50%, -50%) scale(0.9);
		background: #161a1db9;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.09);
		background: #a4161b9f;
	}
}

@keyframes pulseB {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(0.1);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}
